<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <provider android:authorities="com.example.datacenter.provider" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyWithFristLineCode"
        tools:targetApi="31">
        <activity
            android:name=".CustomizeListViewActivity"
            android:exported="false"
            android:label="@string/title_activity_customize_list_view"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".DialogActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/DialogTheme"></activity>

        <receiver
            android:name=".TimeChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- 时间更改广播 -->
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <!-- 设备解锁广播 -->
                <action android:name="android.intent.action.USER_UNLOCKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DataCenterActivity"
            android:exported="false"
            android:label="@string/title_activity_data_center"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".PhoneListActivity"
            android:exported="false"
            android:label="@string/title_activity_phone_list"
            android:theme="@style/Theme.StudyWithFristLineCode" />

        <receiver
            android:name=".SecondBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.StudyWithFristLineCode.CUSTOMIZE_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".CustomizeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.StudyWithFristLineCode.CUSTOMIZE_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AsynMessageHandleActivity"
            android:exported="false"
            android:label="@string/title_activity_asyn_messagehandle"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false"
            android:label="@string/title_activity_list_view"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".ControlsActivity"
            android:exported="false"
            android:label="@string/title_activity_controls"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".LifeCycleActivity"
            android:exported="false"
            android:label="@string/title_activity_life_cycle"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".fourActivity"
            android:exported="true"
            android:label="@string/title_activity_four"
            android:theme="@style/Theme.StudyWithFristLineCode">
            <intent-filter>
                <action android:name="com.example.StudyWithFristLineCode.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:exported="true"
            android:label="@string/title_activity_third"
            android:theme="@style/Theme.StudyWithFristLineCode">
            <intent-filter>
                <action android:name="com.example.StudyWithFristLineCode.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.StudyWithFristLineCode" />
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>